.type-of-work {
	margin: 0px;

	font-size: 16px;
	line-height: 1.88em;

	color: $color-for-description;
}

.portfolio {
	padding-top: 60px;

	border-top: 1px solid #ececec;

	@media screen and (min-width: 1200px) {
		padding-top: 93px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		padding: 0 $width-of-container-padding;
	}
}

.list-btn {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -15px;
	padding-bottom: 40px;

	button {
		display: block;
		padding: 6px 22px;
		margin-bottom: 15px;

		font-family: inherit;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.62em;
		text-align: center;
		letter-spacing: 0.03em;

		background-color: #f5f4fa;
		border-width: 0px;
		border-radius: $radius-borders;

		transition: color $trans-time-and-bezier, background-color $trans-time-and-bezier,
			box-shadow $trans-time-and-bezier;

		@media screen and (min-width: 768px) {
			margin-bottom: 0px;
		}
	}

	button:focus,
	button:hover {
		color: $color-for-btn-caption;
		background-color: $color-for-hovered;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
	}

	@media screen and (min-width: 768px) {
		justify-content: center;
		margin-bottom: 30px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.list-btn > li:not(:last-child) {
	margin-right: 8px;
}

.portfolio-img-description {
	padding: 20px 24px;

	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -30px;
	padding-bottom: 60px;

	h2 {
		display: block;
		margin-bottom: 4px;

		font-size: 18px;
		line-height: 2em;
		text-align: left;
		letter-spacing: 0.06em;
	}

	@media screen and (min-width: 768px) {
		margin-right: -30px;
	}
}

// .projects-list-item {
// 	margin-right: 30px;
// 	margin-bottom: 30px;

// 	width: calc((100% - 60px) / 3);

// 	transition: $trans-time-and-bezier;

// 	a {
// 		display: block;
// 	}

// 	&:hover,
// 	&:focus {
// 		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
// 	}

// 	&:nth-child(3n + 3) {
// 		margin-right: 0px;
// 	}
// 	&:nth-last-child(-n + 3) {
// 		margin-bottom: 0px;
// 	}
// }

.projects-list-item {
	margin-bottom: 30px;
	width: 100%;

	transition: $trans-time-and-bezier;

	&:hover,
	&:focus {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
	}

	// &:nth-child(3n + 3) {
	// 	margin-right: 0px;
	// }
	// &:nth-last-child(-n + 3) {
	// 	margin-bottom: 0px;
	// }
	@media screen and (min-width: 768px) {
		width: calc((100% - 60px) / 2);
		margin-right: 30px;
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 90px) / 3);
	}
}

.pli-image-box {
	position: relative;
	overflow: hidden;

	// width: 100%;
}

.pli-hover-text {
	position: absolute;

	display: flex;
	padding: 0px 24px;
	margin: 0px;

	align-items: center;
	height: 100%;
	left: 0px;
	top: 0px;

	font-size: 18px;
	line-height: 1.56em;
	pointer-events: none;

	color: $color-for-btn-caption;
	background: rgba(33, 150, 243, 0.9);

	/* При уменьшении масштаба в google chrome под картинкой появляется строка в 1px*/
	transform: translateY(calc(100% + 1px));
	transition: transform $trans-time-and-bezier;

	.projects-list-item a:hover &,
	.projects-list-item a:focus & {
		transform: translateY(0);
	}
}
