.what-we-do {
	h3 {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;

		padding-top: 27px;
		padding-bottom: 27px;

		font-weight: bold;
		font-size: 14px;
		line-height: 1.14em;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		color: $color-for-btn-caption;
		background: rgba(47, 48, 58, 0.8);
	} //.what-we-do h3

	&-list {
		display: flex;
		justify-content: space-between;
	} //.what-we-do-list

	&-item > div {
		position: relative;
	} //.what-we-do-item > div

	@include sections-top-and-bottom-paddings(480px, 60px, 60px);
	@include sections-top-and-bottom-paddings(768px, 60px, 60px);
	@include sections-top-and-bottom-paddings(1200px, 94px, 94px);

	@include check-to-visibility(10px);
	// @include check-to-visibility(480px);
	// @include check-to-visibility(768px);
	// @include check-to-visibility(1200px, 3);
} //.what-we-do
